<form class="new" action="/my-money" method="post">

  <label for="merchant">Merchant:</label>
  <input style="text-transform:capitalize;" id="merchant-name"  type="text" name="merchant_name" placeholder="Add merchant here...">

  <label for="tag">Type:</label>
  <select name="tag_id" required>
    <% @tags.each do |tag|%>
    <option value="<%=tag.id%>"><%= tag.tag_name() %></option>
    <%end%>
  </select>

  <label for="amount">Amount: £</label>
  <input id="amount" type="text" name="amount" placeholder="Add amount here..." required>

  <label for="date">Date:</label>
  <input id="date" type="date" name="trans_date" value="<%=Date.today%>" required>

  <input type="submit" value="Add New Transaction">

</form>

<table class = "all">
  <thead>
    <tr>
      <th>Transaction Type</th>
      <th>Merchant</th>
      <th>Amount</th>
      <th>Date</th>
      <th>Edit</th>
      <th>
        <form class="" action="/my-money/delete-all" method="post">
          <input type="submit" value="Delete All">
        </form>
      </th>
      </tr>
    </thead>

    <tfoot class = "all foot">
      <tr>
        <td>Total Spend</td>
        <td></td>
        <td><%= @total%> </td>
      </tr>
    </tfoot>

    <tbody>


      <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.tag()%></td>
        <td><%= transaction.merchant().capitalize%></td>
        <td>£<%= transaction.amount%></td>
        <td><%= transaction.trans_date%></td>
        <td>
          <a href="/my-money/transaction/<%=transaction.id%>/edit"> Edit </a>
        </td>
        <td>
          <form action="/my-money/all/<%=transaction.id%>/delete" method="post">
            <input type="text" hidden name="tag_id" value="<%= transaction.tag_id %>" />
            <input type="submit" value="Delete">
          </form>
        </td>

      </tr>
      <%end%>

    </tbody>


  </table>
