<form class="new" action="/my-money" method="post">

  <label for="merchant">Merchant:</label>
  <input style="text-transform:capitalize;" id="merchant-name"  type="text" name="merchant_name" placeholder="Add merchant here...">

  <label for="tag">Type:</label>
  <select name="tag_id" required>
    <% @tags.each do |tag|%>
    <option value="<%=tag.id%>"><%= tag.tag_name() %></option>
    <%end%>
  </select>

  <label for="amount">Amount: £</label>
  <input id="amount" type="text" name="amount" placeholder="Add amount here..." required>

  <label for="date">Date:</label>
  <input id="date" type="date" name="trans_date" placeholder="<%=Date.today%>" required>

  <input type="submit" value="Add New Transaction">

</form>

<div class="totals-home">

 <%if @cweek_total < @budget.weekly%>
 <div class= "total green">
   <p class= "total-text">My week spend</p> <p class="total">£<%= @cweek_total.to_i.to_s.reverse.gsub(/...(?=.)/,'\&,').reverse%></p>
   <p class= "budget-text">My budget </p> <p class="budget"> £<%= @budget.weekly.to_i.to_i.to_s.reverse.gsub(/...(?=.)/,'\&,').reverse%> </p>
   <a class="button" href="/my-money/weekly/show"><i class="fas fa-shopping-cart"></i> &nbsp;View Transactions</a>
 </div>
 <%else%>
<div class= "total red">
   <p class= "total-text">My week spend</p> <p class="total">£<%= @cweek_total.to_i.to_i.to_s.reverse.gsub(/...(?=.)/,'\&,').reverse%></p>
   <p class= "budget-text">My budget</p> <p class="budget">£<%= @budget.weekly.to_i.to_i.to_s.reverse.gsub(/...(?=.)/,'\&,').reverse%> </p>
   <a class="button" href="/my-money/weekly/show"><i class="fas fa-shopping-cart"></i> &nbsp;View Transactions</a>
 </div>
<%end%>

<%if @cmonth_total < @budget.monthly%>
<div class= "total green">
  <p class= "total-text">My month spend</p><p class="total">£<%= @cmonth_total.to_i.to_i.to_s.reverse.gsub(/...(?=.)/,'\&,').reverse%></p>
  <p class= "budget-text">My budget</p> <p class="budget">£<%= @budget.monthly.to_i.to_i.to_s.reverse.gsub(/...(?=.)/,'\&,').reverse%> </p>
  <a class="button" href="/my-money/monthly/show"><i class="fas fa-shopping-cart"></i> &nbsp;View Transactions</a>
</div>
<%else%>
<div class= "total red">
  <p class= "total-text">My month spend</p> <p class="total">£<%= @cmonth_total.to_i.to_i.to_s.reverse.gsub(/...(?=.)/,'\&,').reverse%></p>
  <p class= "budget-text">My budget</p> <p class="budget">£<%= @budget.monthly.to_i.to_i.to_s.reverse.gsub(/...(?=.)/,'\&,').reverse%> </p>
  <a class="button" href="/my-money/monthly/show"><i class="fas fa-shopping-cart"></i> &nbsp;View Transactions</a>
</div>
<%end%>

<%if @cyear_total < @budget.yearly%>
<div class= "total green">
  <p class= "total-text">My year spend</p>  <p class="total">£<%= @cyear_total.to_i.to_s.reverse.gsub(/...(?=.)/,'\&,').reverse%></p>
  <p class= "budget-text">My budget</p>  <p class="budget">£<%= @budget.yearly.to_i.to_s.reverse.gsub(/...(?=.)/,'\&,').reverse%> </p>
  <a class="button" href="/my-money/yearly/show"><i class="fas fa-shopping-cart"></i> &nbsp;View Transactions</a>
</div>
<%else%>
<div class= "total red">
  <p class= "total-text">My year spend:</p> <p class="total">£<%= @cyear_total.to_i.to_s.reverse.gsub(/...(?=.)/,'\&,').reverse%></p>
  <p class= "budget-text">My budget:</p> <p class="budget">£<%= @budget.yearly.to_i.to_s.reverse.gsub(/...(?=.)/,'\&,').reverse%> </p>
  <a class="button" href="/my-money/yearly/show"><i class="fas fa-shopping-cart"></i> &nbsp;View Transactions</a>
</div>
<%end%>

</div>
