

<table class = "all">
  <thead>
    <tr>
      <th>Transaction Type</th>
      <th>Merchant</th>
      <th>Amount</th>
      <th>Date</th>
      <th>
        <form class="" action="/my-money/delete-all" method="post">
          <input type="submit" value="Delete All">
        </form>
      </th>
      </tr>
    </thead>

    <tbody>
      <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.tag()%></td>
        <td><%= transaction.merchant().capitalize%></td>
        <td>£<%= transaction.amount%></td>
        <td><%= transaction.trans_date%></td>
        <td>
          <form action="/my-money/<%=transaction.id%>/delete" method="post">
            <input type="submit" value="Delete">
          </form>
        </td>
      </tr>
      <%end%>

    </tbody>
  </table>
