<form class="new" action="/my-money" method="post">

  <label for="merchant">Merchant:</label>
  <input style="text-transform:capitalize;" id="merchant-name"  type="text" name="merchant_name" placeholder="Add merchant here...">

  <label for="tag">Type:</label>
  <select name="tag_id" required>
    <% @tags.each do |tag|%>
    <option value="<%=tag.id%>"><%= tag.tag_name() %></option>
    <%end%>
  </select>

  <label for="amount">Amount: £</label>
  <input id="amount" type="text" name="amount" placeholder="Add amount here..." required>

  <label for="date">Date:</label>
  <input id="date" type="date" name="trans_date" placeholder="<%=Date.today%>" required>

  <input type="submit" value="Add New Transaction">

</form>

<table class = "all">
  <thead>
    <tr>
      <th class="type">Transaction Type &nbsp; <a class="arrow" href="/my-money/index/tag/up"> <i class="fas fa-arrow-up"></i></a> <a class="arrow" href="/my-money/index/tag/down"><i class="fas fa-arrow-down"></i></a> </th>
      <th class="merchant">Merchant&nbsp; <a class="arrow" href="/my-money/index/merchant/up"> <i class="fas fa-arrow-up"></i></a> <a class="arrow"  href="/my-money/index/merchant/down"><i class="fas fa-arrow-down"></i></a></th>
      <th class="amount">Amount&nbsp; <a class="arrow" href="/my-money/index/amount/up"> <i class="fas fa-arrow-up"></i></a> <a class="arrow" href="/my-money/index/amount/down"><i class="fas fa-arrow-down"></i></a></th>
      <th class="date">Date&nbsp; <a class="arrow" href="/my-money/index/date/up"> <i class="fas fa-arrow-up"></i></a> <a class="arrow" href="/my-money/index/date/down"><i class="fas fa-arrow-down"></i></a></th>
      <th >Edit</th>
      <th class="delete">
        <form class="" action="/my-money/delete-all" method="post">
          <input class="delete" type="submit" value="Delete All">
        </form>
      </th>
      </tr>
    </thead>

    <tfoot>
      <tr class="foot">
        <td class="foot">Total Spend</td>
        <td></td>
        <td class="foot-total">£<%= @total%></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tfoot>

    <tbody>


      <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.tag()%></td>
        <td><%= transaction.merchant().capitalize%></td>
        <td>£<%= '%.2f' % transaction.amount%></td>
        <td><%= transaction.trans_date%></td>
        <td>
          <a class="edit" href="/my-money/transaction/<%=transaction.id%>/edit"><i class="far fa-edit"></i></a>
        </td>
        <td>

          <form class="button delete"  action="/my-money/all/<%=transaction.id%>/delete" method="post">
            <button class="delete search" type="submit" ><i class="fas fa-trash-alt"></i></button>
          </form>
        </td>

      </tr>
      <%end%>

    </tbody>


  </table>
